<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956977960223-52c973dvaj0hs45bi2546n66s9rcglk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956977960223-52c973dvaj0hs45bi2546n66s9rcglk8</string>
	<key>API_KEY</key>
	<string>AIzaSyD2JD7PU6a_C3rHuhSeFcpiesIRBAxeoA8</string>
	<key>GCM_SENDER_ID</key>
	<string>956977960223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codes.edrich.flash-chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ios-13-49882</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ios-13-49882.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956977960223:ios:8e724643a2ad45c1c10c2a</string>
</dict>
</plist>